body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-image: url(/image/new.jfif);
    background-size: cover;
    background-repeat: no-repeat; 
    color: rgb(209, 220, 230);  
}

.banner-column{
    border: 4px solid rgb(209, 220, 230);
    border-radius: 25px;
    font-family: fantasy;
    font-weight: bold;
    letter-spacing: 0.3cm; 
}

#abc:hover{
    letter-spacing: 0.5cm;
    border-color: rgb(153, 167, 179);
    color: rgb(153, 167, 179) ;
}


.navbar-container{
    background-color: rgb(39, 38, 51);
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-item:hover{
    font-weight: bolder;
    font-size: larger;
}

.about-container
{
    background-color: rgb(163, 164, 192);
}

.education-container{
    background-color: rgb(208, 179, 211);
}
.red{
    color: rgb(241, 226, 226);
    font-weight: bold;
}


.circle{
    background-color: rgb(160, 126, 157);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    color: white;
}

.project-container{
    background-color: rgb(124, 172, 243);
}

.projectbold{
    font-weight: bolder;
    letter-spacing: 0.3cm;
}

.gallery-container{
    background-color: rgb(184, 183, 180);
}

.blank{
    background-color: rgb(143, 143, 138);
}

.blank:hover{
     border-radius: 30px;
     padding: 10%;
}

.form-container{
    background-color: rgb(171, 221, 152);
}

.newclass{
    border: 15px;
    border-radius: 10px;
    border-color: white;
}

.newclass:hover{
    background-color: rgb(124, 160, 117);
    color: white;
}

.formnew{
    background-color: rgb(157, 197, 175);
}

.formnew:hover{
    background-color: rgb(95, 141, 160);
    font-weight: bold;
    border: 4px black;
}

.footer{
    background-color: #3482EB;
    color: white;
    text-shadow: 2px 2px 2px black, 0 0 25px rgb(215, 215, 228), 0 0 5px rgb(210, 210, 243);
    font-size: 20px;
}

.icons{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: white;
    color: #3482EB;
    font-size: 30px;
    text-align: center;
    display: inline-block;
    padding: 10px;
}

.icons:hover{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: black;
    color:white;
    font-size: 30px;
    text-align: center;
    display: inline-block;
    padding: 10px;
}







